# Control de versiones
.git
.gitignore

# Configuración local
*.log
*.bak
*.swp
node_modules
.env
__pycache__/

# Certificados y claves
certs
*.pem
*.key

# Archivos de construcción
Dockerfile
.dockerignore

# Otros específicos del proyecto
*.sqlite3
*.db